@page "/"
@using System.Net.Http
@using System.Net.Http.Headers
@using System.Text
@using System.Xml.Serialization
@inject HttpClient Http
@inject IJSRuntime JS

<link href="css/Home.css" rel="stylesheet" />

<main>
    <div class="header">
        <div>
            <div class="station-title">St. Gallen, Riethüsli</div>
        </div>
        <canvas id="clock" class="clock" height="400" width="400"></canvas>
    </div>

    @if (datalist.Count == 0)
    {
        <span>Keine Abfahrten gefunden.</span>
    }
    else if (GetLoslaufenCountdown(0) == 0) // Nur wenn
    {
        <p class="loslaufen">Jetzt loslaufen!</p>
    }
    else
    {
        <p class="loslaufen">Loslaufen in @GetLoslaufenCountdown(1) min</p>
    }

    <table class="table">
        <thead>
            <tr>
                <th>Linie</th>
                <th>Ziel</th>
                <th>Abfahrt</th>
                <th>Hinweis</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in datalist)
            {
                <tr>
                    <td>@(item.linie == "5" ? $"B{item.linie}" : item.linie)</td>
                    <td>St. Gallen, Bahnhof</td>
                    <td class="abfahrtzeit">@item.timetabledTime</td>

                    @if (@item.hinweis == "")
                    {
                        <td class="hinweis">@item.hinweis</td>
                    }
                    else
                    {
                        <td class="hinweis">+ @item.hinweis</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</main>


